* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin-top: 40px;
}

nav {
	text-align: center;
	background: pink;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	min-height: 40px;
}

nav li {
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 5%;
}

nav a {
	text-decoration: none;
	transition: all 1s;
}

nav a:hover,
nav a:focus {
	text-decoration: none;
}

nav a:hover {
	color: red;
}

.current a {
	color: purple;
}

#box {
	border: 1px solid black;
	width: 400px;
	height: 400px;
	padding: 20px;

	-webkit-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

h1 {
	font-size: 64px;
}

section {
	min-height: 100vh;
	margin-top: -36px;
    padding-top: 36px;
}

#menu-icon {
	position: fixed;
	top: 0;
	right: 0;
	border: none;
	background: transparent;
	font-size: 22px;
	display: none;
	z-index: 2;
}

div .img-responsive {
	/*border: 1px solid black;*/
	margin-bottom: 10px;
}

@media (max-width: 768px) {
	nav ul {
		display: none;
	}

	#menu-icon {
		display: block;
	}

	nav li {
		display: block;
	}

	body {
		margin-top: 210px;
	}

	section {
		margin-top: -210px;
	    padding-top: 210px;
	}
}