/*body {
	background: pink;
}


@media (max-width: 600px){
  body {
    background: blue;
  }
}*/

#example1 .row div {
	height: 200px;
}

/* Any div inside a .row */
/*.row div {
	border: 1px solid black;
}*/

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
}