/* CSS Resets */

body {
	margin: 0;
}

ul {
	padding: 0;
}

/* Nav */

nav {
	background: white;
	position: fixed;
	text-align: center;
	width: 100%;
}

nav li {
	display: inline-block;
	padding: 10px 20px;
}

nav a {
	font-family: sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}

.current {
	font-weight: 600;
}

/* Sections */

#summer {
	background-image: url(http://markdalgleish.com/projects/stellar.js/demos/images/summer.jpg);
}

#winter {
	background-image: url(http://markdalgleish.com/projects/stellar.js/demos/images/winter.jpg);
}

#autumn {
	background-image: url(http://markdalgleish.com/projects/stellar.js/demos/images/autumn.jpg);
}

#spring {
	background-image: url(http://markdalgleish.com/projects/stellar.js/demos/images/spring.jpg);
}

section {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 600px;
}

#menu {
	top: 0;
	right: 0;
	background: transparent;
	border: none;
	cursor: pointer;
	display: none;
	position: absolute;
}

#puppy {
	width: 200px;
}

#gallery {
	display: none;
}

/* Responsive Nav */

@media (max-width: 768px) {
	/* Mobile changes go here */

	nav ul {
		display: none;
	}

	nav li {
		display: block;
	}

	#menu {
		display: block;
	}
}








